.container {
    background-color: yellow;
}

.box {
    width: 100px;
    height: 100px;
}

.bg-red {
    background-color: salmon;
}

.bg-blue {
    background-color: royalblue;
}

.bg-yellow {
    background-color: gold;
}

.relative {
    position: absolute;
    top: 50px;
    left: 20px;
}