.parent {
    margin: 20px 0;
    width: 300px;
    height: 350px;
    color: white;
    background-color: yellowgreen;
    display: flex;
}

.child {
    width: 100px;
    height: 100px;
 }
 
 .bg-red {
    background-color: salmon;
 }
 
 .bg-blue {
    background-color: royalblue;
 }
 
 .bg-yellow {
    background-color: gold;
 }
 
 .bg-purple {
    background-color: mediumpurple;
 }
 
 .bg-pink {
    background-color: pink;
 }

 
 .nowarp {
    flex-wrap: nowrap;
 }

 .wrap {
    flex-wrap: wrap;
 }

 .wrap-reverse {
    flex-wrap: wrap-reverse;
 }
 
 .column {
    flex-direction: column;
 }